@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
}
body{
    background-color: black;
}
.main{
    background-image: url(Media/images/Background_1.jpg);
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 644px;
    position: relative;
}
.bb{
    height: 644px;
    width: 100%;
    opacity: 0.5;
    position: absolute;
    top: 0;
    background-color: black;
}
nav{
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
nav .logo{
    width: 164px;
    position: relative;
    z-index: 2;
}
nav .nbtns{
    margin: 20px;
    padding: 8px 17px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    position: relative;
    z-index: 2;
}
nav .nbtnl, footer .fbtnl{
    padding: 7px 105px 7px 15px;
    border: none;
    border-radius: 5px;
    z-index: 2;
    background-color: rgba(23, 23, 23, 0.7);
    position: relative;
    border: 1px solid rgba(246, 238, 238, 0.5);
}
.hero{
    height: 544px;
    /* background-color: yellowgreen; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hero > :nth-child(1){
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
    z-index: 2;
}
.hero > :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    z-index: 2;
    margin-top: 15px;
}
.hero > :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    z-index: 2;
    margin: 10px 0;
}
.hero > :nth-child(4){
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.hero > :nth-child(4) > input{
    padding: 10px 100px 10px 10px;
    /* border-radius: 4px; */
    color: white;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
    z-index: 2;
}
.hero > :nth-child(4) > input::placeholder{
    color: whitesmoke;
}
.hero > :nth-child(4) > button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    z-index: 2;
    background-color: #e20000;
}
.separation {
    height: 7px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 2;
}
.s1{
    height: 60vh;
    margin: auto;
    padding-left: 40px;
    /* background-color: chartreuse; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.s1 .left1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 34px 0; */
    width: 650px;
    position: relative;
    /* align-items: center; */
}
.s1 .right1{
    position: relative;
    z-index: 2;
}
.s1 .right1 > img{
    width: 555px;
    position: relative;
    z-index: 2;
}
.s1 .right1 > video{
    position: absolute;
    top: 81px;
    right: 70px;
    width: 412px;
    z-index: 1;
}
.s1 .left1 h1{
    font-size: 48px;
    font-weight: bolder;
}
.s1 .left1 p{
    font-size: 24px;
}
.s2{
    height: 70vh;
    margin: auto;
    padding-left: 40px;
    /* background-color: chartreuse; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap-reverse;
    position: relative;
}
.s2 .right2{
    width: 620px;
}
.s2 .right2 h2{
    font-size: 48px;
    font-weight: 900;
}
.s2 .right2 p{
    font-size: 24px;
}
.s2 .left2 img{
    /* height: 480px; */
    width: 640px;
    position: relative;
    z-index: 1;
}
.box{
    background-color: #000000;
    display: flex;
    width: 300px;
    min-width: 15rem;
    padding: 0.5rem 0.75rem;
    border: 2px solid rgba(128, 128, 128, 0.7);
    box-shadow: 0 0 2em 0 rgb(0,0,0);
    border-radius: 0.75rem;
    position: absolute;
    bottom: 119px;
    left: 240px;
    z-index: 2;
}
#a1 img{
   
    height: 72px;
    width: 51px;
    margin-right: 10px;
}

#a2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
}
#a3{

    background-image: url(Media/images/download-icon.gif);
    width: 50%;
    background-position: center center;
    /* background-size: max(1200px, 100vw); */
    background-repeat: no-repeat;
    position: relative;
}
.s1 .right1A{
    position: relative;
    z-index: 2;
}
.s1 .right1A > img{
    width: 555px;
    position: relative;
    z-index: 2;
}
.s1 .right1A > video{
    position: absolute;
    top: 33px;
    right: 98px;
    width: 354px;
    z-index: 1;
}
.s2 .left2A img{
    width: 562px;
    position: relative;
    z-index: 1;
}
.s3{
    height: 100vh;
}
.s3 header h2{
    height: 50px;
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    margin: 15px;
}
.faq{
    width: 90vw;
    margin: auto;
}
.q{
    background-color: #2d2d2d;
    padding: 1.5rem;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    font-size: large;
    cursor: pointer;
}
.q:hover{
    background-color: #5a5a5a;
}
.mail{
    /* background-color: cadetblue; */
    width : 60vw;
    margin: auto;
    /* height: 89px; */
    text-align: center;
}
.mail h3{
    font-size: 1.125rem;
    font-weight: 400;
    margin: 20px 0;
}
.mail p{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.mail p input{
    padding: 10px 100px 10px 10px;
    /* border-radius: 4px; */
    color: white;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
    z-index: 2;
}
.mail p input::placeholder{
    color: whitesmoke;
}
.mail p button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    z-index: 2;
    background-color: #e20000;
}
.separat{
    margin: 72px 0;
    height: 7px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 2;
}
footer{
    /* background-color: chartreuse; */
    width : 90vw;
    margin: auto;
    height: 40vh;
}
footer p{
    margin-bottom: 20px;
}
footer ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 0.5fr));
    gap: 11px;
    margin: 10px;
}
footer ul li{
    font-size: 0.875rem;
    font-weight: 400;
    min-height: 26px;
    min-width: 200px;
    padding: 0 10px;
    text-decoration: underline;
    cursor: pointer;
}
footer .end{
    font-size: 0.875rem;
    margin-top: 1.5rem;
    font-weight: 400;
    margin-top: 20px;
}
@media screen and (max-width: 1280px) {
    .s1 .right1 > img{
    width: 444px;
}
    .s1 .right1 > video{
    top: 69px;
    right: 61px;
    width: 324px;
}
.s1 .left1 h1{
    font-size: 37px;
}
.s1 .left1 p{
    font-size: 18px;
}
.s2 .right2 h2{
    font-size: 36px;
}
.s2 .right2 p{
    font-size: 17px;
}
.s2 .left2 img{
    width: 340px;
}
.s1 .right1A > img{
    width: 444px;
}
.s1 .right1A > video{
    top: 29px;
    right: 92px;
    width: 272px;
}
#w1{
    font-size: 30px;
}
#w2{
    font-size: 17;
}
.s2 .left2A img {
    width: 466px;
}
.s3 header h2 {
    font-size: 23px;
}
footer ul {
    grid-template-columns: repeat(auto-fit, minmax(150px, 0.5fr));
}
}
@media screen and (max-width: 600px) {
    nav .logo {
        width: 100px;
    }
    nav .nbtns, nav .nbtnl{
        display: none;
    }
}
@media screen and (max-width: 430px) {
    .s1 .right1A > img {
        width: 380px;
    }
    .s1 .right1A > video {
        top: 27px;
        right: 74px;
        width: 243px;
    }
    .s2 .left2A img {
        width: 380px;
    }
    .s1 .right1 > img {
        width: 371px;
    }
    .s1 .right1 > video {
        top: 59px;
        right: 51px;
        width: 271px;
    }
    .hero > :nth-child(1) {
        font-size: 32px;
    }
    .hero > :nth-child(2), .hero > :nth-child(3) {
        font-size: 18px;
    }
}
@media screen and (max-width: 379px){
    .s1 .left1 h1 {
        font-size: 32px;
    }
    .s1 .right1 > video {
        top: 52px;
        right: 46px;
        width: 222px;
    }
    .s1 .right1 > img {
        width: 315px;
    }
    .s2 .right2 h2 {
        font-size: 31px;
    }
    .s2 .left2 img {
        width: 301px;
    }
    .s1 .right1A > img {
        width: 300px;
    }
    .s1 .right1A > video {
        top: 18px;
        right: 59px;
        width: 189px;
    }
    .s2 .left2A img {
        width: 300px;
    }

}